
  <div class="wrapper wrapper_padding clearfix">
    <div class="col-1 about homepage_content">
      <h2>Sobre</h2>
      <hr>
      <p>TEXTO SOBRE </p>
      <p>TEXTO <a href="#">SOBRE</a> &amp; TESTE MIM</p>
    </div>
    <div class="col-2 homepage_content">
      <h2>Artigos</h2>
      <hr>
  		<% @posts.each do |post| %>
  			<h3><a href="#"><%= link_to post.title, post %></a></h3>
  			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
  		<% end %>
    </div>
    <div class="col-3 homepage_content">
      <h2>Projetos</h2>
      <hr>
      <h3><a href="#">Titulo Projeto</a></h3>
      <p class="date">5 de Abril de 2016</p>
      <h3><a href="#">Titulo Projeto 1</a></h3>
      <p class="date">6 de Abril de 2016</p>
      <h3><a href="#">Titulo Projeto 2</a></h3>
      <p class="date">7 de Abril de 2016</p>
    </div>
  </div>
