
  <div class="wrapper wrapper_padding clearfix">
    <div class="col-1 about homepage_content">
      <h2>Sobre</h2>
      <hr>
      <p>Olá</p>
      <p>Sou Analista e Desenvolvedor de Sistemas, um verdadeiro apaixonado por
        tecnologia, principalmente voltado para desenvolvimento web e mobile.</p>
      <p>Esse Blog foi criado em Ruby on Rails, aqui vou manter alguns artigos
        e projetos publicados para acompanhamento de todos os interessados,
        espero que de alguma forma possam aproveitar o conte˙do.</p>
      <p>Obrigado e volte sempre :) </p>
    </div>
    <div class="col-2 homepage_content">
      <h2>Artigos</h2>
      <hr>
  		<% @posts.each do |post| %>
  			<h3><a href="#"><%= link_to post.title, post %></a></h3>
  			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
  		<% end %>
    </div>
    <div class="col-3 homepage_content">
      <h2>Projetos</h2>
      <hr>
      <% @projects.each do |project| %>
  			<h3><a href="#"><%= link_to project.title, project %></a></h3>
  			<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
  		<% end %>
    </div>
  </div>
